*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0 84.64L10 44.23L20 99.7L30 97.39L40 101.8L50 154.65L60 156.41L70 168.78L80 189.87L90 180.74L100 162.29L110 190.48L120 183.87L130 226.9L140 246.61L150 285.14L160 271.88L170 309.64L180 323.42L190 287.3L200 347.18L210 363.89L220 426.05L230 358.44L240 332.68L250 387.86L260 324.79L270 283.99L280 343.71L290 403.68L300 363.23L310 364.01L320 336.64L330 366.66L340 322.24L350 346.68L360 408.82L370 366.09L380 375.67L390 406.2L400 450.92L410 465.15L420 502L430 543.95L440 517.41L450 492.46L460 509.91L470 526.08L480 484.18L490 441.47L500 469.41L510 527.72L520 465.12L530 421.92L540 475.78L550 507.35L560 546.29L570 520.49L580 515.83L590 471.24L600 517.38L610 482.35L620 502.94L630 547.21L640 511.57L650 545.93L660 557.09L670 554.29L680 486.45L690 511.76L700 476.27L710 494.92L720 538.54L730 559.49L740 514.47L750 468.94L760 450.76L770 453.71L780 463.11L790 420.59L800 488.77L810 466.88L820 526.35L830 497.12L840 461.77L850 420.78L860 446.43L870 442.97L880 388.38L890 378.85L900 447.68L910 427.12L920 448.19L930 446.16L940 473.02L950 469.56L960 464.49L970 526.08L980 532.82L990 501.64L1000 550.53L1010 527.38L1020 466.86L1030 398.13L1040 406.66L1050 438.14L1060 423.18L1070 487.41L1080 509.4L1090 455.58L1100 436.82L1110 374.39L1120 422.72L1130 438.98L1140 453.72L1150 443.78L1160 431.55L1170 456.52L1180 436.33L1190 498.18L1200 490.01L1210 425.36L1220 439.67L1230 440.38L1240 382.85L1250 370.7L1260 390.2L1270 381.63L1280 437L1290 374.73L1300 326.96L1310 394.9L1320 398.51L1330 349.59L1340 392.4L1350 430.84L1360 449.69L1370 511.35L1380 510.64L1390 456.75L1400 438.17L1410 480.94L1420 443.52L1430 408.89L1440 430.07' stroke='rgba(0%2c 123%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 84.64L10 44.23L20 99.7L30 97.39L40 101.8L50 154.65L60 156.41L70 168.78L80 189.87L90 180.74L100 162.29L110 190.48L120 183.87L130 226.9L140 246.61L150 285.14L160 271.88L170 309.64L180 323.42L190 287.3L200 347.18L210 363.89L220 426.05L230 358.44L240 332.68L250 387.86L260 324.79L270 283.99L280 343.71L290 403.68L300 363.23L310 364.01L320 336.64L330 366.66L340 322.24L350 346.68L360 408.82L370 366.09L380 375.67L390 406.2L400 450.92L410 465.15L420 502L430 543.95L440 517.41L450 492.46L460 509.91L470 526.08L480 484.18L490 441.47L500 469.41L510 527.72L520 465.12L530 421.92L540 475.78L550 507.35L560 546.29L570 520.49L580 515.83L590 471.24L600 517.38L610 482.35L620 502.94L630 547.21L640 511.57L650 545.93L660 557.09L670 554.29L680 486.45L690 511.76L700 476.27L710 494.92L720 538.54L730 559.49L740 514.47L750 468.94L760 450.76L770 453.71L780 463.11L790 420.59L800 488.77L810 466.88L820 526.35L830 497.12L840 461.77L850 420.78L860 446.43L870 442.97L880 388.38L890 378.85L900 447.68L910 427.12L920 448.19L930 446.16L940 473.02L950 469.56L960 464.49L970 526.08L980 532.82L990 501.64L1000 550.53L1010 527.38L1020 466.86L1030 398.13L1040 406.66L1050 438.14L1060 423.18L1070 487.41L1080 509.4L1090 455.58L1100 436.82L1110 374.39L1120 422.72L1130 438.98L1140 453.72L1150 443.78L1160 431.55L1170 456.52L1180 436.33L1190 498.18L1200 490.01L1210 425.36L1220 439.67L1230 440.38L1240 382.85L1250 370.7L1260 390.2L1270 381.63L1280 437L1290 374.73L1300 326.96L1310 394.9L1320 398.51L1330 349.59L1340 392.4L1350 430.84L1360 449.69L1370 511.35L1380 510.64L1390 456.75L1400 438.17L1410 480.94L1420 443.52L1430 408.89L1440 430.07L1440 560L0 560z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-opacity='0.65' stop-color='rgba(0%2c 123%2c 250%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23d7ebff' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    color: #fff;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i {
    color: #29fd53;
    font-size: 28px;
    margin-right: 3px;
}
.logo span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}
.navigationBar {
    display: flex;
}
.navigationBar a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;

}
.navigationBar a:hover{
    color: #29fd53;
}
.navigationBar a.active {
    color: #29fd53;
}

h2 {
    margin-top: 200px;
    text-align: center;
}
.frontButton {
    background-color: #29fd53; 
    width: 150px;                                                       
    border-style: solid;
    border-width: 10px;
    border-color: #29fd53;
    border-radius: 6rem;
    justify-content: center;
    align-items: center;
}
button {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s {
    color: transparent;
}
 